<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raiseyourvoice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaiseYourVoice"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SetSupervisorsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".LogoutActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".ShowSupervisedRoomsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".ShowSupervisingInvitationsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".CreatePollingRoomActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RequestConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".SubmitRequestActivity"
            android:exported="false"
            android:parentActivityName=".CheckoutActivity" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>